.nav-bar {
background-color:#DBE3FA;
border-bottom:1px solid #9EADD2;
border-top:1px solid #A0B6E6;
padding:4px;
position:relative;
z-index:3;
}
#nav-bar-shadow {
bottom:-4px;
height:3px;
left:0;
position:absolute;
width:100%;
}
.nav-bar-container .goog-menu {
margin-top:5px;
z-index:2;
}
.nav-bar-container {
position:relative;
z-index:10;
}
.gp4 .nav-bar, #entries-footer.nav-bar {
border-top:medium none;
}
.nav-table {
height:30px;
width:100%;
}
.nav-table-left, .nav-table-right {
vertical-align:middle;
width:70px;
}
.nav-table-left a {
text-decoration:none;
}
.nav-table-right {
text-align:right;
}
#header-refresh, #header-menu {
float:right;
}
#header-refresh .m-button-contents, #header-menu .m-button-contents {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/560081298-mobile-sprite.png) no-repeat scroll 0 0;
display:block;
height:16px;
width:16px;
}
#header-refresh .m-button-contents {
background-position:-36px -241px;
}
#header-menu {
margin-left:6px;
}
#header-menu .m-button-contents {
background-position:-34px -275px;
}
#header-menu.m-button-pressed .m-button-contents {
background-position:-34px -306px;
}
.nav-table-middle {
color:#182647;
font-size:17px;
font-weight:bold;
overflow:hidden;
text-align:center;
text-shadow:0 1px 1px #FFFFFF;
vertical-align:middle;
}

.m-button {
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
background-color:#E4EAFA;
background-image:url(../images/560081298-mobile-sprite.png);
background-repeat:repeat-x;
border:1px solid #99B1ED;
color:#2E4987;
float:left;
font-size:13px;
font-weight:bold;
height:15px;
padding:7px;
text-shadow:0 1px 0 #FFFFFF;
white-space:nowrap;
}


/*above is menu tool-bar css*/